@charset "UTF-8";

/*---------------------------------------
  link
-----------------------------------------*/
a {
  color: #159e86;
  text-decoration: underline;
}
a:hover{
  text-decoration: none;
}

/*---------------------------------------
  title
-----------------------------------------*/
.tit_h1{
  font-size: 180%;
  color: #159e86;
}
h1.tit_sub{
  background: #159E86;
  text-align: center;
  color: #FFF;
  padding: 8px 5px 6px 5px;
  margin-top: 0;
  line-height: 1.2;
}
.tit_sub{
  background: #159E86;
  text-align: center;
  color: #FFF;
  padding: 8px 0 6px 0;
  margin-top: 25px;
  line-height: 1.2;
}

.tit_h2{
  color: #159e86;
  font-size: 114%;
  padding-top: 25px;
}

/*---------------------------------------
  text
-----------------------------------------*/
p{
  font-size: 85%;
  line-height: 1.5;
  padding-top: 20px;
}
.text_link{
  line-height: 1.5;
  padding-top: 20px;
  margin: 0 15px;
}
.alert{
  color: #f00;
}

/*---------------------------------------
  img_box
-----------------------------------------*/
.img_box{
  padding: 20px 0 5px;
}
.img_box .img_1cols{
  text-align: center;
}
.img_box .img_1cols img{
}
.img_box .img_2cols ul{
  overflow: hidden;
}
.img_box .img_2cols ul li{
  width: 49%;
}
.img_box .img_2cols ul li img{
  margin: 0 auto;
  text-align: center;
  display: block;
}
.img_box .img_2cols ul li.left{
  float: left;
}
.img_box .img_2cols ul li.right{
  float: right;
}
@media screen and (max-width: 900px) {
.img_box .img_1cols img{
  width: 100%;
}
}

/*---------------------------------------
  anchor_link_box
-----------------------------------------*/
.anchor_link_box{
  margin-top: 40px;
  border: 1px solid #159E86;
  padding: 30px 30px 20px;
}

.anchor_link_box ul li{
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 0 20px 10px 0;
}

/*---------------------------------------
  topic_box
-----------------------------------------*/
.topic_box{
  background: #F2F2F2;
  margin: 30px 0 0;
  padding: 8px;
  position: relative;
}
.topic_box .inner{
  border:1px solid #A6A6A6;
  padding:0 20px 10px;
}
.topic_box .inner:before{
  content: url(../Images/img_corner_top.png);
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}
.topic_box .inner:after{
  content: url(../Images/img_corner_btm.png);
  display: block;
  position: absolute;
  right: 0;
  bottom: -5px;
}
.topic_box .inner dl{
  padding-top: 20px;
}
.topic_box .inner dl dt{
  font-size: 128%;
  text-align: center;
}
.topic_box .inner dl dd{
  padding-bottom: 10px;
}
.topic_box .inner dl dd.text{
  padding-top: 20px;
  line-height: 1.5;
  font-size: 85%;
}
.topic_box .inner .text_link{
  padding: 0;
  margin: 0;
}

/*---------------------------------------
  topic_box_alert
-----------------------------------------*/
.topic_box_alert{
  background: #FFF5F5;
  margin: 30px 0 0;
  padding: 8px;
  position: relative;
  color: #ca0808;
}
.topic_box_alert .inner{
  border:1px solid #CF2020;
  padding:0 20px 10px;
}
.topic_box_alert .inner:before{
  content: url(../Images/img_corner_top.png);
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}
.topic_box_alert .inner:after{
  content: url(../Images/img_corner_btm.png);
  display: block;
  position: absolute;
  right: 0;
  bottom: -5px;
}
.topic_box_alert .inner dl{
  padding-top: 20px;
}
.topic_box_alert .inner dl dt{
  font-size: 128%;
  text-align: center;
}
.topic_box_alert .inner dl dd{
  padding-bottom: 10px;
}
.topic_box_alert .inner dl dd.text{
  padding-top: 20px;
  line-height: 1.5;
  font-size: 85%;
}
.topic_box_alert .inner .text_link{
  padding: 0;
  margin: 0;
}

/*---------------------------------------
  top_info_box
-----------------------------------------*/
.top_info_box{
  border: 1px solid #A6A6A6;
  background: #F2F2F2;
  padding: 10px;
  margin: 0 0 50px;
}
.top_info_box ul{
  overflow: hidden;
}
.top_info_box ul li{
  width: 32.9%;
  line-height: 1.5;
  float: left;
  text-align: center;
  font-size: 85%;
}

/*---------------------------------------
  alert_box
-----------------------------------------*/
.alert_box{
  border: 1px solid #CF2020;
  padding: 5px 15px 15px;
  margin: 30px 0 0;
  background: #FFF5F5;
}

/*---------------------------------------
  step box
-----------------------------------------*/
.step_arae{
  padding-top: 30px;
}
.step_box{
  margin: 0 auto 20px;
  padding: 0 0 45px;
  background: url(../Images/bg_step_area.png) no-repeat center bottom;
}
.step_box .inner{
  border: 1px solid #159E86;
  padding: 25px 30px 30px;
  position: relative;
}
.step_box .inner dl dt{
  background: url(../Images/bg_step_ttl.png) no-repeat 0 0;
  color: #fff;
  font-weight: bold;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0;
  top: 0;
}
.step_box .inner dl dt span{
  padding: 15px 0 0 9px;
  display: block;
}
.step_box .inner dl dd.text{
  line-height: 1.5;
  text-align: center;
  padding: 0 0 0 40px;
}
.step_box .inner dl dd.link{
  padding-top: 10px;
  text-align: center;
}
.step_box .inner dl dd.link .icn_bullet span{
  color: #159e86;
  text-decoration: underline;
}
.step_arae .last{
  background: none;
  padding: 0;
  margin-bottom: 0;
}

/*---------------------------------------
  qa_box
-----------------------------------------*/
.qa_box dl{
  padding: 13px 0 0;
  border-bottom:1px solid #159E86;
}
.qa_box dt{
  color: #159E86;
  font-size: 114%;
  padding: 6px 10px 18px 55px;
  background: url(../Images/icn_q.png) no-repeat 10px 2px;
  border-bottom: 1px dotted #159E86;
  line-height: 1.3;
}
.qa_box dd{
  background: url(../Images/icn_a.png) no-repeat 10px 17px #F7FCFC;
  padding: 13px 10px 22px 55px;
  line-height: 1.5;
}
.qa_box dd p{
  padding-top: 8px;
  font-size: 85%;
}

/*---------------------------------------
  list
-----------------------------------------*/
/* basic */
ul.list_basic{
  padding: 10px 0 0;
}
ul.list_basic li{
  background: url(../Images/icn_circle.png) no-repeat 0 6px;
  padding:0 0 2px 14px;
  margin-top: 5px;
  font-size: 85%;
  line-height: 1.5;
}
.topic_box ul.list_basic li{
  margin-top: 5px;
}

/* alert */
ul.list_alert{
  padding: 10px 0 0;
}
ul.list_alert li{
  background: url(../Images/icn_circle_alert.png) no-repeat 0 6px;
  padding:0 0 2px 14px;
  margin-top: 5px;
  font-size: 85%;
  line-height: 1.5;
  color: #CF2020;
}
.topic_box ul.list_alert li{
  margin-top: 5px;
}

/*---------------------------------------
  icon link
-----------------------------------------*/
ul.link_box{
  padding-top: 5px;
}
ul.link_box li{
  display: block;
  padding-top: 5px;
}

/* bullet */
p .icn_bullet{
  font-size: 100%;
}
.icn_bullet{
  font-size: 85%;
}
.icn_bullet a{
  text-decoration: none;
  color: #333;
  background: url(../Images/icn_bullet.png) no-repeat 0 2px;
  padding: 0 0 6px 20px;
}
.icn_bullet a span{
  color: #159e86;
}

/* bullet anchor */
.icn_bullet_anchor{
  font-size: 71%;
}
.icn_bullet_anchor a{
  text-decoration: none;
  color: #333;
  background: url(../Images/icn_bullet_anchor.png) no-repeat 0 0;
  padding: 3px 0 3px 20px;
  display: inline-block;
}

/*---------------------------------------
  form
-----------------------------------------*/
.form_area{
  width: 650px;
  margin: 0 auto;
  padding-top: 10px;
  position: relative;
}
.form_area dl{
  margin-left: -25px;
  padding-top: 20px;
  overflow: hidden;
}
.form_area dt{
  color: #159e86;
  width: 200px;
  font-size: 85%;
  text-align: right;
  padding: 10px 15px 0 0;
  float: left;
}
.form_area dd{
  float: left;
  width: 450px;
}
.form_area dd .icn_bullet{
  padding-top: 10px;
  display: block;
}
.form_area input[type=radio]{
  width: 15px;
  height: 15px;
  vertical-align: middle;
  cursor: pointer;
  margin-left: 10px;
}
.form_area .form_note{
  font-size: 71%;
  padding-top: 5px;
}
.form_area .birth dd{
  padding-top: 5px;
}
.form_area .birth dd select{
  /* width: 50px; */
  width: auto;
  padding: 5px;
  text-align: center;
  font-size: 100%;
}
.form_area .birth dd select.year{
  width: 80px;
  padding: 5px;
}
.form_basic input{
  width: 280px;
  margin-bottom: 1px;
}
.form_basic input{
  border: 1px solid #159E86;
  padding: 2px 4px;
  *padding: 4px;
}

/*---------------------------------------
  button
-----------------------------------------*/

/*
  btn
-----------------------------------------*/
.btn_area{
  padding-top: 30px;
}
.btn_area .btn_basic,.btn_area .btn_other,.btn_area .btn_wh{
  margin: 0 auto;
}

/*
  btn_2cols button
-----------------------------------------*/
.btn_2cols{
  padding-top: 30px;
}
.btn_2cols ul{
  width: 460px;
  overflow: hidden;
  margin: 0 auto;
}
.btn_2cols ul li.left{
  float: left;
}
.btn_2cols ul li.right{
  float: right;
}

/*
  btn basic
-----------------------------------------*/
.btn_basic{
  width: 220px;
  display: block;
  font-size: 92%;
}

.btn_basic button,
.btn_basic input[type=button],
.btn_basic input[type=submit] {
  width: 100%;
  line-height: 1.0;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo", "メイリオ", sans-serif;
  padding:0px 5px 0px 5px;
  margin: 0;
  border:none;
  background: url(../Images/icn_bullet_btn.png) no-repeat 194px center #159E86;
  color: #fff;
  font-size: 98%;
  display: block;
  cursor: pointer;
  line-height: 1.0;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  text-align: center;
  min-height: 45px;
  *height:40px;
}
.btn_basic a{
  text-decoration: none;
  width: 100%;
  line-height: 1.0;
  padding:0px 5px 0px 5px;
  margin: 0;
  border:none;
  background: url(../Images/icn_bullet_btn.png) no-repeat 194px center #159E86;
  color: #fff;
  font-size: 100%;
  display: block;
  cursor: pointer;
  line-height: 1.0;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  text-align: center;
  min-height: 45px;
  *height:30px;
  *padding:0;
}
.btn_basic a span{
  display: block;
  padding: 16px 0 5px 0;
  width: 80%;
  margin: 0 auto;
}

/* 
  btn_basic disabled
-----------------------------------------*/
.btn_basic button[disabled],
.btn_basic input[type="button"][disabled],
.btn_basic input[type="submit"][disabled] {
  background: #E6E6E6;
  color:#949494;
  cursor: default;
}

/*
  btn other
-----------------------------------------*/
.btn_other{
  width: 220px;
  display: block;
  font-size: 92%;
}
.btn_other button,
.btn_other input[type=button],
.btn_other input[type=submit] {
  width: 100%;
  line-height: 1.0;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo", "メイリオ", sans-serif;
  padding:0px 5px 0px 5px;
  margin: 0;
  border:none;
  background: url(../Images/icn_bullet_btn.png) no-repeat 194px center #989898;
  color: #fff;
  font-size: 98%;
  display: block;
  cursor: pointer;
  line-height: 1.0;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  text-align: center;
  min-height: 45px;
  *height:40px;
}
.btn_other a{
  text-decoration: none;
  width: 100%;
  line-height: 1.0;
  padding:0px 5px 0px 5px;
  margin: 0;
  border:none;
  background: url(../Images/icn_bullet_btn.png) no-repeat 194px center #989898;
  color: #fff;
  font-size: 100%;
  display: block;
  cursor: pointer;
  line-height: 1.0;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  text-align: center;
  min-height: 45px;
  *height:30px;
  *padding:0;
}
.btn_other a span{
  display: block;
  padding: 16px 0 5px 0;
  width: 80%;
  margin: 0 auto;
}

/*
  btn wh
-----------------------------------------*/
.btn_wh{
  width: 220px;
  display: block;
  font-size: 92%;
}

.btn_wh button,
.btn_wh input[type=button],
.btn_wh input[type=submit] {
  width: 100%;
  line-height: 1.0;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo", "メイリオ", sans-serif;
  padding:0px 5px 0px 5px;
  margin: 0;
  border:none;
  background: url(../Images/icn_bullet_gr.png) no-repeat 194px center #FFF;
  color: #159e86;
  font-size: 98%;
  display: block;
  cursor: pointer;
  line-height: 1.0;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  text-align: center;
  min-height: 45px;
  *height:40px;
}
.btn_wh a{
  text-decoration: none;
  width: 100%;
  line-height: 1.0;
  padding:0px 5px 0px 5px;
  margin: 0;
  border:none;
  background: url(../Images/icn_bullet_gr.png) no-repeat 194px center #FFF;
  color: #159e86;
  font-size: 100%;
  display: block;
  cursor: pointer;
  line-height: 1.0;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  text-align: center;
  min-height: 45px;
  *height:30px;
  *padding:0;
}
.btn_wh a span{
  display: block;
  padding: 16px 0 5px 0;
  width: 80%;
  margin: 0 auto;
}

/* prev */
span.prev,
span.prev[type=button],
span.prev[type=submit] {
  background: none;
}
span.prev a{
  text-decoration: none;
  background-image:url(../Images/icn_bullet_btn_prev.png);
  background-position: 15px center;
}

/*---------------------------------------
  hr
-----------------------------------------*/
hr{
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #B3B3B3;
  height: 1px;
  clear: both;
  line-height: 0;
  margin-top: 30px;
}

/*---------------------------------------
  btn_pagetop
-----------------------------------------*/
.btn_pagetop{
  overflow: hidden;
  text-align: right;
  padding: 0 20px 20px 0;
}
.btn_pagetop span{
  display: block;
}
.btn_pagetop span img{
  cursor: pointer;
}

.btn_pagetop_s{
  overflow: hidden;
  text-align: right;
  padding: 0 20px 20px 0;
}
.btn_pagetop_s span img{
  width: 30px;
  cursor: pointer;
}
.btn_pagetop_s{
  padding: 40px 0 0 0;
}